.footer_div{

    .disclamer {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    p {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5rem;
        letter-spacing: 0.6px;
    }
    .keyword_footer {
        color: white;
        max-width: 900px;
        margin: 0  auto;
        line-height: 1.6rem;
    }
    hr {
        border-color: gray;
    }
}