<div class="footer_div">
    <div class="container">
        <h5 class="disclamer">Disclaimer</h5>
        <p>Viewing this website is at your own risk. The information displayed on this website is entirely based on numerology and astrology and is for informational purposes only. We do not intend to associate ourselves with any illegal gambling or betting businesses. Matka gambling may be prohibited or illegal in your country. We do not hold ourselves responsible for any issues or scams. We adhere to all the rules and regulations of all countries. Please continue to use our website only if you agree to the terms of the disclaimer. Copying, promoting, or publishing any of our content in any form of media or other source is illegal and against the law, and if anyone does so, strict action will be taken.</p>
        <div class="keyword_footer">Prabhat World |
            Prabhat Satta |
            Prabhat Matka |
            Prabhat-Sattamatka | 
            Tiger Prabhat World |
            Tiger Prabhat Satta-Matka |
            Prabhat Night |
            Kalyan Satta |
            Rajdhani Night
            </div>

            <hr>

            <div class="footer_logo">

                <img style="cursor: pointer;" routerLink="/" src="assets/logo.png" width="220" alt="">
                <p style="margin-bottom: 0;">	&#169; ALL RIGHTS RESERVED 1993-2024</p>
            </div>
    </div>
</div>