@for(s of allSTarlineData;track s){
<div class="starline_items">
    <table style="width: 100%;">
        <tbody>
            <tr class="name">
                <td> {{ s.name }}</td>
            </tr>
           @if(!s.jodi){
            <tr class="time">
                <td>NA</td>
            </tr>
           }@else{
            <tr class="time">
                <td>{{s.time}} / {{s.open}} - {{s.jodi}}</td>
            </tr>
           
           }
            <tr>
                <td><button class="primary_button">JODI</button></td>
            </tr>
        </tbody>
    </table>
</div>
}