<section class="after_header">
    <marquee behavior="" direction="rtl">!! Welcome Friends in the world of Dpboss company. May you always win. !!
    </marquee>
    <div class="tags container">
        <h2>Matka | Satta Matka | Kalyan Matka | Dpboss | Satka Matka Result</h2>
        <p>SATTA MATKA | MATKA | KALYAN MATKA | MATKA RESULT | SATTA MATTA MATKA | DPBOSS | MADHUR MATKA | KOLKATA FF|
            INDIAN MATKA | SATTA MATKA NUMBER | SATTA MATKA RESULT | SATTA MATKA GUESSING | SATTA | PLAY ONLINE MATKA |
            SATTA KING | MATKA GUESSING | FASTEST SATTA MATKA | SATTA MATKA CENTER | SATTA MATKA FREE SEVA | SATTA MATKA
            TIPS | SATTA MATKA GAME | SATTA | SATTA MATKA COM | SATTA MATKA BAZAR | SATTA FAST RESULT | SATTA KING |
            SATTA RECORD | SATKA MATKA RESULT | MATKA SATTA GAME | SATKA MATKA | SATTA BATTA | DPBOSS COMPANY</p>
    </div>
</section>

<section class="live_update">
    <div class="container">
        <h2 class="h2">☔LIVE RESULT☔</h2>
        <p>Sabse Tezz Live Result Yahi Milega</p>
        <br>
        <div class="p_3">

            <div class="data_tabel">
                @for(b of liveBazaarData; track b){
                @if(b.day_of_week | loadingText){
                @if((b.open_time | timeToSeconds) || (b.close_time | timeToSeconds)){
                <div class="table_row bazaar_name live_items" [ngClass]="(b.is_highlighted) ? 'highilited' : ''">

                    <div class="bazaar_title">{{b.bazaar_name}}</div>

                    @if((b.date_time | timeStatus) == 'New' ){
                    <div>
                        <div class="number">
                            <span>{{b.open }}</span> -
                            <span>{{b.jodi}}</span> -
                            @if(b.close){
                            <span>{{b.close}}</span>
                            }@else{
                            ***
                            }
                        </div>

                    </div>
                    }@else{
                    <p>Loading</p>
                    }
                </div>
                }
                }
                }
            </div>
        </div>
    </div>
</section>

<section class="notice_board container"
    style="background-image: linear-gradient(45deg, #2d2158f2, #2d2158e3), url('assets/bg.jpg');">
    <div class="inner_div ">
        <h3 class="h3">अब ऑनलाईन मटका खेलो ऑटोमेटिक विथड्रावल के साथ 100% भरोसेमंद मटका ऍप अभी डाऊनलोड करो</h3>
        <a class="primary_button" href="#" target="_blank" rel="noopener noreferrer">👉 Play Online Matka</a>
        <p>With 100% Trusted App</p>
    </div>
</section>

<section class="news_board container">
    <div class="inner_div ">
        <h3 class="h3">अपना बाजार Dpboss.company वेबसाइट में डलवाने<br>
            के लिए आज ही हमें ईमेल करे</h3>
        <a href="mailto:support&#64;dpboss.company" target="_blank" rel="noopener noreferrer">Email :
            support&#64;dpboss.company</a>
        <p>शर्ते लागु</p>
    </div>
</section>

<section class="bazar_timing">
    <div class="container">
        <h2 class="h2">☔SATTA MATKA FASTEST RESULTS IN THE WORLD☔</h2>
        <p>Sabse Tezz Live Result Yahi Milega</p>

        @for(b of liveBazaarData; track b){
        <div class="table_row bazaar_name live_items" [ngClass]="(b.is_highlighted) ? 'highilited' : 'bg_light'">
            <div class="row">
                <div class="col_2">
                    <button routerLink="jodi/{{b.slug}}" class="primary_button">JODI</button>
                </div>
                <div class="col_6">
                    <div class="bazaar_title">{{b.bazaar_name}}</div>
                    <div class="number">
                        <span>{{b.open }}</span> -
                        <span>{{b.jodi}}</span>
                        @if(b.close){
                        - <span>{{b.close}}</span>
                        }
                    </div>
                    <div class="timing">
                        <span>{{b.open_time }}</span> - <span>{{b.close_time }}</span>

                    </div>
                </div>
                <div class="col_2">
                    <button  class="primary_button">PANEL</button>
                </div>
            </div>
        </div>
        }
    </div>
</section>

<section class="starline_section">
    <div class="container">
        <h2 class="h2">☔SRTARLINE BAZAR☔</h2>
        <app-home-starline></app-home-starline>
    </div>
</section>
<br>

<section class="notice_board login_section container"
    style="background-image: linear-gradient(45deg, #2d2158f2, #2d2158e3), url('assets/bg.jpg');">
    <div class="inner_div ">
        <h3 class="h3">Advertise now on <br> Packages starting Rs.25,000/-</h3>
        <a class="primary_button" href="#" target="_blank" rel="noopener noreferrer">👉 Login</a>
        <br>
        <a class="seconday_button" href="#" target="_blank" rel="noopener noreferrer">👉 Register</a>
    </div>
</section>


<section class="about_us">
    <div class="container">
        <div class="let-rock" [ngClass]="getClass()">
            <div class="button_div">
            <button (click)="toggleClass()" class="read_more">Read More</button>

            </div>
            <div class="button_div read_less" style="display: none;">
                <button (click)="toggleClass()" class="read_more">Read Less</button>
    
                </div>
            <div class="t-rock">सट्टा मटका क्या है?
            </div>
            <p>सट्टा मटका एक लॉटरी खेल है जो समूहों के बीच खेला जाता है। कल्याण मटका में खिलाड़ी अपना पैसा नंबरों पर
                लगाते थे, अगर आपकी किस्मत अच्छी है तो आप मैच जीत जाएंगे और अमीर बन जाएंगे। </p>
            <div class="t-rock">कल्याण मटका किंग कैसे बनें?
            </div>
            <p>मटका किंग बनने के लिए आपको कल्याण मटका गेम के बारे में सब कुछ सीखना होगा। मटका किंग बनने के लिए नीचे दिए
                गए तरीकों का पालन करें;</p>

            <p>1. सभी शब्दावली को समझें और कल्याण मटका बाजार में खेले जाने वाले सभी प्रकार के गेम के बारे में पढ़ें।</p>
            <p>2. सट्टा मटका उद्योग में विश्वसनीय और सबसे अधिक खोजी जाने वाली वेबसाइट खोजें जो वास्तविक होनी चाहिए। जेसे
                :- डीपी बॉस मटका सेंटर</p>
            <p>3. कम से कम दो से तीन वेबसाइटों के मटका गेसिंग फोरम, सट्टा गेसिंग फोरम और वीआईपी फोरम से जुड़ें।</p>
            <p>4. उस गेम चार्ट का पालन करें जिसे आप खेलना चाहते हैं। जैसे अगर आप कल्याण मटका गेम खेलना चाहते हैं तो
                कल्याण चार्ट, कल्याण नाइट चार्ट, कल्याण जेसे दोनों सेक्शन जोड़ी और पैनल में फॉलो करें।</p>
            <p> 5. उपरोक्त 3 तकनीकों का उपयोग करके मटका नंबर खोजने के लिए टिप्स और ट्रिक्स खोजने पर काम करना शुरू करें।
            </p>
            <p> 6. अंत में खेल में भाग लेना शुरू करें और उस नंबर पर पैसा लगाएं जो आपको अपनी युक्तियों और तरकीबों से
                मिलता है।</p>
            यदि आप उपरोक्त चरणों का पालन करते हैं तो आप जल्द ही कल्याण मटका किंग बन जाएंगे। <p></p>

            <div class="t-rock">कल्याण में अचूक अंक निकालने का तरीक़ा?</div>
            <p>इस ट्रिक से कल्याण ओर मेन बाजार के लिए अंक निकालते है,<br>
                इसमें करना ये होता है की जो भी पिछले दिन या रात में जोड़ी बने उसे जोड़ देना है, ओर जो टोटल आता है उसके
                आगे के तीन घर को प्ले करना हे<br>
                जेसे <br><br>
                51 80 90 41 37 72<br><br>
                5+1=6 तो 7,8,9<br><br> ये तीन अंक आते ही अगले दिन <br><br>
                8+0=8 तो 9,0,1<br>
                9+0=9 तो 0,1,2<br>
                4+1=5 तो 6,7,8<br>
                3+7=0 तो 1,2,3<br>
                7+2=9 तो 0,1,2<br><br>
                टोटल से 1 अंक बडाकर अगले 3 अंक खेलना हे
                डेली खेलने वालो के लिए…<br><br>
                कल्याण ओर मेन बाजार में सप्ताह में 1 या 2 दिन फैल होती हे बस उसके बाद दबाकर खेल सकते हो
            </p>


            <div class="t-rock">मटका गेम से संबंधित अपडेट कैसे चेक करें?</div>
            <p>डीपी बॉस मटका पर कई तरह के गेम खेले जाते हैं और अपडेट जानने के लिए आपको एक बेहतरीन प्लेटफॉर्म की जरूरत
                होती है। यहां कल्याण मटका में हम कल्याण का मटका, कल्याण ओपन, आज कल्याण में क्या बनेगा, कल्याण में क्या
                जोड़ी बनेगा, कल्याण का आज का ओपन, कल्याण ओपन 143 और अन्य जैसे सभी प्रकार के विवरण प्रदान करते हैं।</p>

            <div class="t-rock">मटका रिजल्ट चेक करने के लिए सबसे अच्छी वेबसाइट कौन सी है?</div>
            <p>Dpboss.company मटका रिजल्ट देखने के लिए सबसे अच्छी वेबसाइट है। यहां हम अन्य गेम के रिजल्ट भी प्रदान करते
                हैं जैसे सट्टा मटका रिजल्ट, मधुर मटका रिजल्ट, राजधानी डे और नाइट रिजल्ट, मिलन डे और मिलन नाइट रिजल्ट,
                कल्याण रिजल्ट, सट्टा मटका परिणाम और अन्य खेल। </p>

            <div class="t-rock">सट्टे का अंक कैसे निकाला जाता है?</div>
            <p>सट्टे का अंक कल्याण चार्ट को देखकर निकाला जाता है। जो सट्टा मटका खेलते हैं वह इस कल्याण मटका चार्ट के
                अंकों को देखकर ही आगे का गेम खेलते हे , गेम में यह सब देखना होता हे, कब ओर कितनी बार ये अंक आया हे, ओर
                भी चार्ट्स देखने के कई तरीक़े हे, कई लोग पूरे 1 हफ्ते के आए रिजल्ट के अनुसार इसकी गणना करते हैं। कई लोग
                पिछले 2 दिनों में आए रिजल्ट के माध्यम से रिजल्ट की गणना करते हैं। उसके आधार पर गेम निकालकर
                Matkaplay.center जेसी वेब साइट पर गेम खेला जाता हे। </p>

            <div class="t-rock">आप डीपी बॉस मटका से कौन से विभिन्न प्रकार के खेल खेल सकते हैं?</div>
            <p>डीपी बॉस मटका में आप 50+ से अधिक गेम खेल सकते हैं जो कल्याण मटका और सट्टा मटका के अन्य खेलों के समान है।
                यहां सभी खेलों की सूची दी गई है, मिलन मॉर्निंग, श्रीदेवी, टाइम बाजार, मधुर डे, तारा मुंबई डे, मिलन डे,
                राजधानी डे, कल्याण, श्रीदेवी नाइट, मधुर नाइट, तारा मुंबई नाइट , टाइम नाइट, मिलन नाइट, राजधानी नाइट,
                कल्याण नाइट, मेन बाजार, मेन मुंबई, कल्याण डे, कल्याण रात और अन्य खेल सट्टा मटका जेसे । </p>

            <div class="t-rock">घर बेठकर गेम केसे खेले ?</div>
            <p>सट्टा खेलने के लिए आपको किसी एक नंबर को चुनना होता है और उस नंबर पर पैसे लगाने होते हैं। अगर आपके द्वारा
                पैसे लगाए गए नंबर सट्टा में निकल जाता है तो आप जीत जाते हैं और आपको आपके पैसे भी मिलते हैं और साथ ही
                उसमें कुछ प्रॉफिट भी मिलता है। सट्टा ऑनलाइन भी खेला जा सकता है। <br>ऑनलाइन मटका खेलने के लिए आपको कही
                जाने की ज़रूरत नहि हे, आप घर बेठकर आसानी से ( matkaplay.center ) ट्रस्टेड साइट पर ऑनलाइन गेम खेल सकते
                हे, जो १०० % विडराल देती हे विश्वास के साथ </p>
        </div>
    </div>
</section>

<!-- <button (click)="toggleClass()" class="read_more">Read More</button> -->